@font-face {
  font-family: "Bebas Neue";
  src: url('fonts/BebasNeue.otf')format('opentype');
  font-weight: normal;
  font-style: normal;
}
body{
  font-family: "Bebas Neue";
}
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: white;
}
::-webkit-scrollbar-thumb {
    background: black;
}
.rows{
  padding: 0 !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.heading{
  display: flex;
  align-items: center;
  justify-content: center;
}
.inner-border{
  display: flex;
  align-items: center;
  height: 90%;
  width: 90%;
  border: 4px solid black;
}
.inner-border > div{
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: black;
  font-size: 100px;
  line-height: 110px;
}
.item-1{
  background-image: url("../images/SFD/SFD 2018.jpg");
}
.item-2{
  background-image: url("../images/SFD/Speaker.jpg");
}
.item-3{
  background-image: url("../images/SFD/Speaker ID.jpg");
}
.item-4{
  background-image: url("../images/SFD/Chair ID.jpg");
}
.item-5{
  background-image: url("../images/SFD/Attendee ID.jpg");
}
.item-6{
  background-image: url("../images/SFD/OC ID.jpg");
}
.item-7{
  background-image: url("../images/SFD/Tickets.jpg");
}
.item-8{
  background-image: url("../images/NGO/President.jpg");
}
.item-9{
  background-image: url("../images/NGO/Holi.jpg");
}
.item-10{
  background-image: url("../images/NGO/teddyday.jpg");
}
.item-11{
  background-image: url("../images/NGO/hugday.jpg");
}
.item-12{
  background-image: url("../images/NGO/promiseday.jpg");
}
.item-13{
  background-image: url("../images/NGO/kissday.jpg");
}
.item-14{
  background-image: url("../images/NGO/roseday.jpg");
}
.item-15{
  background-image: url("../images/GBL/clutch'd.jpg");
}
.item-16{
  background-image: url("../images/GBL/forestkraft.jpg");
}
.item-17{
  background-image: url("../images/GBL/omkraft.jpg");
}
.item-18{
  background-image: url("../images/GBL/whitecollarhippie.jpg");
}
.flex-container{
  display: flex;
  margin-top: 60px;
  justify-content: center;
  flex-wrap: wrap;
}
.flex-container>div{
  font-size: 48px;
  padding: 20px;
}

@media only screen and (max-width: 700px){
  .inner-border>div{
    font-size: 80px;
    line-height: 90px;
  }
}
@media only screen and (max-width: 520px){
  .flex-container{
    flex-direction: column;
    align-items: center;
  }
}
